* {
    border: 1px solid hotpink; 
} 

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18px 60px 18px;
    padding: 18px;
}

.infobox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 18px;
    padding: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 160px;
}

.toplinks a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.toplinks {
    margin-right: 160px;
}

.toplinks {
    display: flex;
    gap: 16px;
}

span.toptext {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 8px;
}

span.bottomtext {
    font-size: 18px;
    color: #E5E7EB;
}

.herotext {
    width: 450px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
}

button.signup {
    align-self: flex-start;
    margin-top: 8px;
    padding: 8px 32px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.infobox img {
    width: 520px;
    margin-right: 160px;
}