
.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 18px;
    padding: 18px;
}

.infobox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.toplinks a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.toplinks {
    display: flex;
    gap: 16px;
}